
<button pButton  class="ui-button-text ui-button-rounded" icon="pi pi-arrow-left" label="Retour" cornerStyleClass="right_top"  style="width:100px" (click)="returnView()"> </button>

<button pButton  class="ui-button-text ui-button-rounded" icon="pi pi-arrow-right" label="Ajouter" cornerStyleClass="right_top"  style="width:100px" (click)="openAddChapitre()"> </button>

<div class="pr small">
  <p-dataTable #table  [value]="chapitres" [scrollable]="true" [rows]="20" scrollHeight="200px" [virtualScroll]="true"
               [lazy]="true" [totalRecords]="chapitres.length"  [emptyMessage]="'tableau vide'" >
    <p-column [sortable]="false" header="">
      <ng-template let-chapitre="rowData" pTemplate="body">
        {{chapitre.nom}}
      </ng-template>
    </p-column>
<!--    <p-column [sortable]="false" header="">
            <ng-template let-chapitre="rowData" pTemplate="body">
                {{chapitre.description}}
            </ng-template>
          </p-column>-->
    <p-column [sortable]="false" header=""
              cssClass="action-btn">
      <ng-template let-chapitre="rowData" let-i="rowIndex" pTemplate="body">
          <span><i class="glyphicon glyphicon-pencil " title="Edit"
                   (click)="update(chapitre,i)" ></i></span>
        <i class="glyphicon glyphicon-trash " title="Supprimer"
           (click)="delete(chapitre.idChap,i)" ></i>
      </ng-template>

    </p-column>

  </p-dataTable>
</div>

