.pr {
  padding-right: 15px !important;
  padding-bottom: 25px !important;

}

::ng-deep  .ui-datatable tr {
  cursor: pointer;
}
::ng-deep  .ui-datatable thead {
  display: none !important;
}

::ng-deep   .ui-datatable .ui-datatable-data>tr>td{
  border-style: none;

}
