<table class="table table-striped">

  <br><br><br>
  <p-table [value]="list">
    <ng-template pTemplate="header">
      <tr>

        <th style="text-align: center">Date</th>
        <th style="text-align: center"> Endroit</th>
        <th style="text-align: center"> Tarif</th>
        <th style="text-align: center"> Volume horaire</th>
        <th style="text-align: center"> Date d'envoi</th>
        <th style="text-align: center"> Etat</th>
        <th style="text-align: center">Actions</th>



      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-code>
      <tr>


        <td>{{code.date}}</td>
        <td>{{code.place}}</td>
        <td>{{code.prix}}</td>
        <td>{{code.nbHoraire}}</td>

        <td>{{code. createdAt}}</td>
        <td>{{code. etat}}</td>


        <td>
          <button pButton icon="pi pi-times" pTooltip="Annuler" tooltipPosition="top" class="ui-button-danger"
                  (click)="annullEtat(code)"
          ></button>
          <!--[disabled]="code.etat === 'En attente'? false: true"-->

          <button pButton icon="pi pi-check" pTooltip="Confirmer" tooltipPosition="top" class="ui-button-success" (click)="confirmEtat(code) "
                  style="margin-left: 10px" ></button>
                  <!--[disabled]="code.etat === 'En attente'? false: true"></button></td> -->



      </tr>

    </ng-template>
  </p-table>
</table>



