<button pButton label="Ajouter"  icon="pi pi-plus" style="float: right"  class="ui-button-success"
        (click)="addSecretaire()" ></button>
<br><br><br>
<p-table [value]="list">
  <ng-template pTemplate="header">
    <tr>
      <th style="text-align: center">CIN</th>
      <th style="text-align: center">Nom</th>
      <th style="text-align: center">Prénom</th>
      <th style="text-align: center">Email</th>
      <th style="text-align: center">Téléphone</th>
      <th style="text-align: center">Login</th>
      <th style="text-align: center" width="10%">Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-Secretaire>
    <tr>
      <td>{{Secretaire.cin}}</td>
      <td>{{Secretaire.nom}}</td>
      <td>{{Secretaire.prenom}}</td>
      <td>{{Secretaire.email}}</td>
      <td>{{Secretaire.telephone}}</td>
      <td>{{Secretaire.username}}</td>
      <td>
        <button pButton icon="pi pi-trash" pTooltip="Supprimer"  tooltipPosition="top"  class="ui-button-danger" (click)="delete(Secretaire) "
        ></button>
        <button pButton icon="pi pi-pencil" pTooltip="Editer" tooltipPosition="top" class="ui-button-warning" (click)="edit(Secretaire) "
                style="margin-left: 10px"></button>

      </td>
    </tr>
  </ng-template>
</p-table>
<!-- appAuthority="['ROLE_Secretaire']" -->
