
<body class="gray-bg">

<div class="middle-box text-center loginscreen   animated fadeInDown">
  <div>

    <p>Créer Votre Compte!.</p>

    <div class="m-t"  >
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Cin" required [(ngModel)]="candidat.cin" #cin="ngModel" required pKeyFilter="pint" minlength="8" maxlength="8">
      </div>
      <div class="col lg-4">
        <p-message severity="error" [text]="cin.errors['required'] ? 'CIN réquis' : cin.errors['minlength'] ? 'doit etre 8 charactère' : ''"
                   style="scroll-snap-margin-bottom:30px" *ngIf="cin.invalid&&(cin.dirty || cin.touched)"></p-message>
      </div>


      <div class="form-group">
        <input type="text" class="form-control" placeholder="nom" required   [(ngModel)]="candidat.nom" #nom="ngModel">
        <div class="col lg-4">
          <p-message severity="error" [text]="nom.errors['required'] ? 'Nom réquis' :  ''"
                     *ngIf="nom.invalid&&(nom.dirty || nom.touched)"></p-message>
        </div>
      </div>


      <div class="form-group">
        <input type="text" class="form-control" placeholder="prenom" required  [(ngModel)]="candidat.prenom" #prenom="ngModel">
        <div class="col lg-4">
          <p-message severity="error" [text]="prenom.errors['required'] ? 'Prénom réquis' :  ''"
                     *ngIf="prenom.invalid&&(prenom.dirty || prenom.touched)"></p-message>
        </div>
      </div>

      <div class="form-group">
        <input type="text" pKeyFilter="pint" maxlength="8" minlength="8" class="form-control" placeholder="telephone" required   [(ngModel)]="candidat.telephone" #tel="ngModel">
      </div>

    <div class="col lg-4">
      <p-message severity="error" [text]="tel.errors['required'] ? 'Téléphone réquis' : tel.errors['minlength'] ? 'doit etre 8 chiffres' : ''"
                 *ngIf="tel.invalid&&(tel.dirty || tel.touched)"></p-message>
    </div>



      <div class="form-group">
        <input type="email" class="form-control" placeholder="Email" required email
               [(ngModel)]="candidat.email" #email="ngModel">
      </div>
      <div class="col lg-4">
        <p-message severity="error" [text]="email.errors['required'] ? 'Email réquis' : email.errors['email'] ? 'Email invalid' :''"
                   *ngIf="email.invalid&&(email.dirty || email.touched)"></p-message>
      </div>


      <div class="form-group">
        <input type="text" class="form-control" placeholder="Nom d'utilisateur" required  [(ngModel)]="candidat.username" #username="ngModel">
      </div>
      <div class="col lg-4">
        <p-message severity="error" [text]="username.errors['required'] ? 'Nom utilisateur réquis' :  ''"
                   *ngIf="username.invalid&&(username.dirty || username.touched)"></p-message>
      </div>


      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" required  [(ngModel)]="candidat.password" #pwd="ngModel">
      </div>
      <div class="col lg-4">
        <p-message severity="error" [text]="pwd.errors['required'] ? 'Mot de passe réquis' :  ''"
                   *ngIf="pwd.invalid&&(pwd.dirty || pwd.touched)"></p-message>
      </div>

      <div class="form-group">
        <div class="checkbox i-checks"><label> <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div><i></i> *Tous les champs sont Obligatoires </label></div>
      </div>
      <button (click)="register()"  class="btn btn-warning block full-width m-b">S'inscrit</button>

      <p class="text-muted text-center"><small>Vous avez déja un compte ?</small></p>
      <a class="btn btn-sm btn-dark btn-block" href="/login">Login</a>
    </div>
    <p class="m-t"> <small></small> </p>
  </div>
</div>

<p-toast></p-toast>


</body>
