
<html><head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title></title>



</head>

<body class="text-danger-50-bg">

<div class=" text-center loginscreen animated fadeInDown">
  <div>
    <div>

      <h4 class="logo-name">Auto-Ecole</h4>

    </div>
    <p></p>
    <form #f="ngForm" (ngSubmit)="onLOgin(f.value)">
      <div class="middle-box">
        <input type="text"  ngModel class="form-control" placeholder="Username" name="username" required="">
      </div>
      <div class="middle-box">
        <input type="password"  ngModel class="form-control" placeholder="Password" name="password" required="">
      </div>
      <div class="middle-box">
        <button type="submit" class="btn btn-dark ">Login</button></div>

      <p class="text-muted text-center"><small>Avez-vous un compte?</small></p>
      <div class="middle-box">
        <a class="btn btn-sm  btn-warning btn-block" href="/register">Créer compte candidat</a></div>
      <div class="middle-box">
        <a class="btn btn-sm  btn-danger btn-block" href="/registerAutoEcole">Créer compte Auto ecole</a></div>

    </form>

  </div></div>
<p-toast></p-toast>
</body></html>



